NET "clock" LOC = B8;
NET "reset" LOC = B18;
NET "conta" LOC = D18;
NET "carga" LOC = H13;

# Anode control pins (for enabling each display in a multiplexed manner)
NET "an[0]" LOC = "P17";  # Enable anode for d1
NET "an[1]" LOC = "P18";  # Enable anode for d2
NET "an[2]" LOC = "P19";  # Enable anode for d3
NET "an[3]" LOC = "P20";  # Enable anode for d4

# dec_ddp
NET "dec_ddp[0]" LOC = "C17";
NET "dec_ddp[1]" LOC = "H14";
NET "dec_ddp[2]" LOC = "J17";
NET "dec_ddp[3]" LOC = "G14";
NET "dec_ddp[4]" LOC = "D16";
NET "dec_ddp[5]" LOC = "D17";
NET "dec_ddp[6]" LOC = "F18";
NET "dec_ddp[7]" LOC = "L18";


# Minute Counter (7-bit input to set minutes count)
NET "chaves[0]" LOC = "R17";  # chaves(0)
NET "chaves[1]" LOC = "N17";  # chaves(1)
NET "chaves[2]" LOC = "L13";  # chaves(2)
NET "chaves[3]" LOC = "L14";  # chaves(3)
NET "chaves[4]" LOC = "K17";  # chaves(4)
NET "chaves[5]" LOC = "K18";  # chaves(5)
NET "chaves[6]" LOC = "H18";  # chaves(6)
